  <h2>Log in</h2>
  <form action="/auth/log-in" method="POST">

    <label> Email
      <input type="email" name="email"/>
    </label>
 
    <label> Password
      <input type="password" name="password"/>
    </label>
 
    <button type="submit">Log in</button>
 
  </form>